/* 三级标题 */
#nice h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  /* 三级标题内容 */
  #nice h3 .content {
    padding: 10px;
    color: #ffa9a9;
    display: inline-block;
    background-image: url("https://zycs-img-97r.pages.dev/v2/eHUMYNX.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: rgb(255, 255, 255) 0px 1px, rgb(255, 255, 255) 0px -1px,
      rgb(255, 255, 255) 1px 1px, rgb(255, 255, 255) 1px 0px,
      rgb(255, 255, 255) 1px -1px, rgb(255, 255, 255) -1px 1px,
      rgb(255, 255, 255) -1px 0px, rgb(255, 255, 255) -1px -1px,
      rgb(255, 169, 169) 0px 2px, rgb(255, 169, 169) 1px 2px,
      rgb(255, 169, 169) -1px 2px;
  }
  
  /* 三级标题前缀 */
  #nice h3 .prefix {
  }
  
  /* 三级标题后缀 */
  #nice h3 .suffix {
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    background-image: url("https://zycs-img-97r.pages.dev/v2/hMyYORj.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    vertical-align: middle;
    transform: rotateZ(18deg);
  }
  