#nice {
  line-height: 1.75;
  letter-spacing: 2px;
  font-family: PingFangSC-Light;
}

#nice p {
  color: #533b3c;
  margin: 10px 0px;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 2px;
  word-spacing: 2px;
  clear: none;
}

/* 一级标题 */
#nice h1 {
  font-size: 20px;
  font-weight: bold;
}

/* 一级标题内容 */
#nice h1 .content {
  color: #93c6bc;
  display: inline-block;
  vertical-align: middle;
}

/* 一级标题前缀 */
#nice h1 .prefix {
  content: "";
  width: 1em;
  height: 2em;
  display: inline-block;
  background-image: url("https://zycs-img-97r.pages.dev/v2/NiI1Ecl.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 10px;
}

/* 一级标题后缀 */
#nice h1 .suffix {
}

/* 二级标题 */
#nice h2 {
  font-size: 18px;
  font-weight: bold;
}

/* 二级标题内容 */
#nice h2 .content {
  color: #93c6bc;
  display: inline-block;
  vertical-align: middle;
}

/* 二级标题前缀 */
#nice h2 .prefix {
  content: "";
  width: 2em;
  height: 2em;
  display: inline-block;
  background-image: url("https://zycs-img-97r.pages.dev/v2/NiI1Ecl.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 10px;
}

/* 二级标题后缀 */
#nice h2 .suffix {
}

/* 三级标题 */
#nice h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/* 三级标题内容 */
#nice h3 .content {
  color: #ffa9a9;
  display: inline-block;
  vertical-align: middle;
}

/* 三级标题前缀 */
#nice h3 .prefix {
  content: "";
  width: 2em;
  height: 2em;
  margin-right: 10px;
  display: inline-block;
  background-image: url("https://zycs-img-97r.pages.dev/v2/hMyYORj.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  transform: rotateZ(18deg);
}

/* 三级标题后缀 */
#nice h3 .suffix {
  content: "";
  width: 4em;
  height: 4em;
  margin-left: 10px;
  display: inline-block;
  background-image: url("https://zycs-img-97r.pages.dev/v2/Ih3nDsl.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

/* 无序列表整体样式
 * list-style-type: square|circle|disc;
 */
#nice ul {
  font-size: 15px;
  list-style-type: disc;
}

#nice ul ul {
  list-style-type: square;
}

#nice ul ul ul {
  list-style-type: circle;
}

#nice ul.to_do_list {
  list-style-type: none;
}

#nice ul.to_do_list:not(ul.to_do_list ul.to_do_list) {
  padding: 0;
}

/* 有序列表整体样式
 * list-style-type: upper-roman|lower-greek|lower-alpha;
 */
#nice ol {
  font-size: 15px;
  list-style-type: decimal;
}

#nice ol ol {
  list-style-type: lower-alpha;
}

#nice ol ol ol {
  list-style-type: lower-roman;
}

#nice ol ol ol ol {
  list-style-type: lower-greek;
}

/* 列表内容，不要设置li
 */
#nice li section {
  font-size: 14px;
  font-weight: normal;
}

/* 一级引用
 */
#nice blockquote:not(.callout) {
  padding: 36px;
  text-align: justify;
  border-left: none;
  border-radius: 4px;
}

#nice blockquote:not(.callout)::before {
  content: "“";
  float: left;
  font-size: 36px;
  font-weight: bold;
  margin-left: -36px;
  margin-top: -36px;
}

#nice blockquote:not(.callout)::after {
  content: "”";
  float: right;
  font-size: 36px;
  font-weight: bold;
  margin-right: -36px;
  margin-bottom: -36px;
}

/* 一级引用文字 */
#nice blockquote p {
}

/* 链接 
 */
#nice a {
  color: #916dd5;
  font-weight: bolder;
  border-bottom: 1px solid #916dd5;
}

/* 加粗 */
#nice strong {
  color: #916dd5;
  font-weight: bold;
}

/* 斜体 */
#nice em {
  font-style: normal;
  color: #916dd5;
}

/* 加粗斜体 */
#nice em strong {
  color: #916dd5;
}

/* 删除线 */
#nice del {
  color: #916dd5;
}

/* 分隔线
 */
#nice hr {
  height: 1px;
  padding: 0;
  border: none;
  border-top: 2px solid #d9b8fa;
}

/* 
 * 代码块不换行 display: -webkit-box !important;
 * 代码块换行 display: block;
 */
#nice pre code {
  font-family: "JetBrains Mono", Menlo, Consolas, monospace;
}

/* 行内代码 */
#nice blockquote code,
#nice p code,
#nice li code {
  color: #916dd5;
  font-weight: bolder;
  background: none;
}

/* 图片
 * 宽度 width: 80%;
 * 居中 margin: 0 auto;
 * 居左 margin: 0 0;
 */
#nice img {
  border-radius: 6px;
  display: block;
  margin: 20px auto;
  object-fit: contain;
  box-shadow: 2px 4px 7px #999;
}

/* 图片容器
 * 上边距 margin-top: 10px;
 * 下边距 margin-bottom: 10px
 */
#nice figure {
}

/* 图片描述 Caption */
#nice figcaption {
  display: block;
  font-size: 13px;
}

/*
* 表格内的单元格
* 字体大小 font-size: 16px;
* 边框 border: 1px solid #ccc;
* 内边距 padding: 5px 10px;
*/
#nice table tr th,
#nice table tr td {
  font-size: 14px;
}

/* 
* 某一列表格列宽控制
* n 可以修改为具体数字，不修改时表示所有列
* 最小列宽 min-width: 85px;
*/
#nice table tr th:nth-of-type(n),
#nice table tr td:nth-of-type(n) {
}

#nice .footnotes {
  font-size: 14px;
}

/* 脚注文字 */
#nice .footnote-word {
  font-weight: normal;
  color: #916dd5;
  font-weight: bold;
}

/* 脚注上标 */
#nice .footnote-ref {
  font-weight: normal;
  color: #916dd5;
}

/* "参考资料"四个字 
 * 内容 content: "参考资料";
 */
#nice .footnotes-sep::before {
  font-size: 16px;
  text-align: left;
  display: inline-block;
}

/* 参考资料编号 */
#nice .footnote-num {
  color: #916dd5;
}

/* 脚注链接样式 */
#nice .footnote-item em {
  font-size: 14px;
  color: #916dd5;
  display: block;
}

/* 参考资料文字 */
#nice .footnote-item p {
  color: #916dd5;
  font-weight: bold;
}

/* 参考资料解释 */
#nice .footnote-item p em {
  font-weight: normal;
}

/* Callout */
#nice .callout {
  padding: 12px;
  overflow: visible;
}

#nice .callout.h_default_background {
  background: none;
  background-image: url("https://tc-new.z.wiki/autoupload/f/zdlT90NifZnpSixxPan-MrKXl_QqVl-bpSwqP4fJO68/20250810/GKtN/500X150/8.png");
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-size: 100%;
  background-position: 0% 0%;
}

#nice .callout.h_default_background::before {

}

#nice .callout.h_blue_background::before {
  content: "";
  float: right;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-right: -12px;
  background-image: url("https://zycs-img-97r.pages.dev/v2/jSR65Bq.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scaleY(-1);
}

#nice .callout.h_teal_background::before {
  content: "";
  float: right;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-right: -12px;
  background-image: url("https://zycs-img-97r.pages.dev/v2/G0ql3Jc.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scaleX(-1);
}

#nice .callout.h_red_background::before {
  content: "";
  float: right;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-right: -12px;
  background-image: url("https://zycs-img-97r.pages.dev/v2/wbqaI05.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scaleY(-1);
}

#nice .callout.h_yellow_background {
  background: none;
  background-image: url("https://tc.z.wiki/autoupload/f/zdlT90NifZnpSixxPan-MrKXl_QqVl-bpSwqP4fJO68/20250810/OPFk/500X150/5.png");
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-size: 100%;
  background-position: 0% 0%;
}

#nice .callout.h_yellow_background::before {
  content: "";
  float: right;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-right: -12px;
  background-image: url("https://tc-new.z.wiki/autoupload/f/zdlT90NifZnpSixxPan-MrKXl_QqVl-bpSwqP4fJO68/20250810/c8GE/103X158/6.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#nice .callout.h_pink_background::before {
  content: "";
  float: right;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-right: -12px;
  background-image: url("https://zycs-img-97r.pages.dev/v2/ZCTHWHx.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scaleX(-1);
}

#nice .callout.h_gray_background {
  background: none;
  background-image: url("https://zycs-img-97r.pages.dev/v2/3WVZQPl.png");
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-size: 100%;
  background-position: 0% 0%;
}

#nice .callout.h_gray_background::before {
  content: "";
  float: right;
  width: 24px;
  height: 35px;
  margin-top: -24px;
  margin-right: 0px;
  background-image: url("https://zycs-img-97r.pages.dev/v2/tt3A21p.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* transform: scaleX(-1); */
}

/* Mention */
#nice .mention {
}

/* 行间公式
  * 最大宽度 max-width: 300% !important;
  */
#nice .block-equation svg {
}

/* 行内公式
  */
#nice .inline-equation svg {
}

/* Gray字体色 */
#nice .h_gray {
}

/* Brown字体色 */
#nice .h_brown {
}

/* Orange字体色 */
#nice .h_orange {
}

/* Yellow字体色 */
#nice .h_yellow {
}

/* Green字体色 */
#nice .h_teal {
}

/* Blue字体色 */
#nice .h_blue {
}

/* Purple字体色 */
#nice .h_purple {
}

/* Pink字体色 */
#nice .h_pink {
}

/* Red字体色 */
#nice .h_red {
}

/* Gray背景色 */
#nice .h_gray_background {
}

/* Brown背景色 */
#nice .h_brown_background {
}

/* Orange背景色 */
#nice .h_orange_background {
}

/* Yellow背景色 */
#nice .h_yellow_background {
}

/* Green背景色 */
#nice .h_teal_background {
}

/* Blue背景色 */
#nice .h_blue_background {
}

/* Purple背景色 */
#nice .h_purple_background {
}

/* Pink背景色 */
#nice .h_pink_background {
}

/* Red背景色 */
#nice .h_red_background {
}
